@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    font-size: 62.5%;

    --header-height: 7.2rem;
 
    --base-color: #00217E;
    --base-color-dart: #000D32;
    --base-color-second: #00A4DC;
    --gradient-secondary: linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%);
    --base-color-alt: var(--base-color-second);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --title-color: var(--base-color-second);
    --text-color: #32394C;
    --text-color-light: #CED1D5;
    --body-color: whitesmoke;
   

    --title-font-size: 3rem;
    --subtitle-font-size: 1.6rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Fredoka One', sans-serif;

    scroll-behavior: smooth;
}

span {
    color: var(--base-color);
}

body {
    font: 400 1.6rem var(--body-font);
    color: var(--text-color);
    background-color: var(--body-color);
    -webkit-font-smoothing: antialiased;
    background-image: url(compress-img/Postion\ Absolute\ -\ bg-01\ headerbg1-min.png);
    background-repeat: no-repeat;
    background-position: top left;
    overflow-x: hidden;
}

.title {
    font-weight: 700;
    color: var(--base-color);
    -webkit-font-smoothing: auto;
    padding-top: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    background-color: #fff;
    color: #32394C;
    display: inline-flex;
    border-radius: .4rem;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
    font-family: Fredoka;
}

.button:hover {
    background-color: var(--base-color-alt);
    color: #fff;
}

.button a{
    color: var(--body-color);
}

.divider-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 3.2rem;
}

#header {
   /* border-bottom: .1rem solid #E4E4E4; */
    margin-bottom: 2rem;
    display: flex;
    width: 1440px;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 40px;
    justify-content: space-between;
}

#header.scroll{
    box-shadow: .2rem .2rem 2rem rgba(0, 0, 0, 0.15);
}

nav { 
    height:  var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
}

nav .container{
    display: flex;
    width: 1440px;
    padding: 40px 0px;
    justify-content: space-between;
    align-items:center;
}


nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color .3s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color);

}

nav ul li a::after {
    content: "";
    width: 0%;
    height: .2rem;
    background-color: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1.4rem;
    transition: width .3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
    
}



nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -32rem;
    transition: .5s;
}

.menu{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

nav .menu ul {
    display: none;
}

nav.show ul.grid {
    gap: 6.4rem;
}

.btn{
    padding: 20px;
    color: #32394c;
    border-radius: 8px;
    background: var(--gradient-secondary);
}

nav.show .menu {
    opacity: 1;
    visibility: visible;

    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show .menu ul{
    display: grid;
}

.toggle {
    color: var(--base-color);
    font-size: 2.4rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;
    top: -2.4rem;
    position: absolute;
    right: 1.4rem;
    transition: .2s;
}

nav.show .icon-close {
    visibility: visible;
    opacity: 1;
    top: 2.4rem;
}

#home {
    /*overflow: hidden;*/
    display: flex;
    padding: 40px 0px 80px 0px;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: space-between;
    width: 100%;
}

#home .container {
    margin: 0;
}

#home .image {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

#home .image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.8%;
    right: -16.7%;
    z-index: -1;
}

#home .image img {
    position: relative;
    right: 4.7rem;
    width: 80%;
}

#home .image img, 
#home .image::before {
    border-radius: .4rem;
}

#home .text {
    display: flex;
  
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

#home .text h1 {
    margin-bottom: 1.6rem;
}

#title-home{
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-size: 39px;
}

#home .text p {
    max-width: 100%;
    font-size: 20px;
}

#benefits{
    display: flex;
    width: 1140px;
    padding: 80px 0px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.benefits-credito img{
    width: 54px;
}

.benefits-credito{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.benefits-credito p{
    font-size: 20px;
    line-height: 130%;
}


.benefits-credito h2{
    font-size: 39px;
}

#direita{
    text-align: right;
    font-size: 20px;
    line-height: 130%;
    padding-left: 10px;
}

#benefits .benefits{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

/*#direita{
   text-align: right;
   float: right;
} */

.benefits h2{
    font-size: 39px;
}

.benefits p{
    font-size: 20px;
    line-height: 130%;
}

#benefits .imagem{
    flex-shrink: 0;
    border-radius: 18px;
}

#benefits .benefits img{
    width: 57px;

}

#illustration{
    width: 100%;
    text-align: center;
}

.img-banner{
    width: 1070px;
}

#section-video h2{
    text-align: center;
}

.size-title{
    font-size: 39px;
}

#section-video {
    text-align: center;
}

.img-video{
    height: 400px;
    overflow: hidden;
    padding-top: 10px;
}

/* Vídeo */
.video{
    display: flex;
    width: 1140px;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
}

/* Parceiros */
/* Swiper */

swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

swiper-slide img {
    display: block;
    width: 100%;
}

.img-novidades{
    width: 400px;
}


/* Services */
#services{
    padding: 0px 0px 80px 0px;
}

#services .cards.grid {
   /*  gap: 2.4rem;*/
    display: flex;
    width: 1144px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

#services .card {
    width: 306px;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border: 2px solid #8BBEE4;
    background: linear-gradient(0deg, rgba(196, 196, 196, 0.00) 0%, rgba(196, 196, 196, 0.00) 100%), radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(191, 247, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    text-align: center;
}

.img-card-services{
    width: 90px;
}

#services .card img {
    display: block;
    margin-bottom: 1.2rem;
    font-size: 8rem;
    color: var(--base-color);
}

#services .card .title {
    font-size: 22px;
    margin-bottom: 1.2rem;
}


#services .card p{
    font-size: 16px;
    text-align: center;
    color: var(--base-color-dart);
}

#team .cards.grid {
    display: flex;
    width: 1140px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#team .card {
    text-align: center;
    position: relative;
    overflow: hidden;
}

#team .card img {
    display: flex;
    width: 250px;
    height: 250px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#team .card .text .title {
    color: var(--text-color);
    text-align: center;

    /* Headers / H4 */
    font-size: 31px;
    font-style: normal;
    font-weight: 700;
}
#team p{
    color: var(--text-color);
    text-align: center;
    font-size: 20px;
}

/*.social{
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch; 
}
.social img{
    width: 24px;
    height: 24px;
}*/


/* Contact */

#contact{
    width: 100%;
}

#contact .grid {
    height: 300px;
    background: var(--gradient-secondary);
}

.airplane-banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}

.button-airplane{
    padding: 14px;
    background-color: #32394C;
    color: #fff;
    font-weight: bold;
    border-radius: 8px;
}

#contact .text p {
    color: var(--text-color);
}

.text-airplane{
    width: 100%;
    padding-left: 18px;
}
.text-airplane p{
    padding-top: 20px;
    font-size: 20px;
}

#contact .text-airplane h2{
    color: var(--text-color);
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.airplace{
    width: 234px;
    height: 276.217px;
    flex-shrink: 0;
}

.airplace img{
    width: 218.234px;
    height: 267.488px;
    flex-shrink: 0;
}

/* FAQ */

.faq{
    width: 1120px;
    border-radius: 16px;
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    background: var(--gradient-secondary);
}

.down-ico{
    width: 20px;
}

.accordion {
    max-width: auto;
    margin: 0 auto;
}
  
.accordion-title {
    color: var(--color-black);
    width: 1100px;
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.section-section1 p{
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
}

.show{
    display: block;
}

.hide{
    display: none;
}
.accordion-content {
    display: none;
    padding: 10px;
}
/* Footer */

/* Estilo para o rodapé (footer) */
footer {
    background-color:var(--base-color);
    color: var(--color-white);
    
    text-align: center;
  }

  .footer-elements{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 300px;
    box-sizing: content-box;
  }

  .barra-footer{
    background-color: #fff;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .newsletter h3{
    font-size: 20px;
  }

  .newsletter-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter p{
    font-size: 14px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px; 
    padding: 10px 0 10px 0;
  }

  .box-form{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-footer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  /* Estilo para a seção de newsletter */
  .newsletter {
    margin-bottom: 20px;
  }

  /* Estilo para o menu de rodapé */
  .footer-menu {
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: justify;
  }

  .footer-menu li {
    padding-bottom: 8px;
    margin: 0;
  }

  .footer-menu li a{
    color: whitesmoke;
    font-weight: 100;
  }

  /* Estilo para o campo de inscrição na newsletter */
  .newsletter-input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
  }

  .newsletter-input::placeholder{
    color: whitesmoke;
    font-weight: 100;
  }

  .newsletter-button {
    background-color: #fff;
    color: #545454;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    margin-left: 27px;
  }

footer.section {
    padding: 6.4rem 0;
}

#icone{
    justify-content: space-between;
    display: inline-flex;
}

#icone a{
    padding-left: 17px;
}

/* Back to Top */

.back-to-top {
    background-color: var(--base-color-dart);
    color: #fff;

    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;

    padding: .8rem;
    clip-path: circle();
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: .3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* Responsivo */

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding-bottom: 20px;
    }
    
    .section header {
        max-width: 52.3rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        height: 5rem;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;

    }

    nav .menu ul {
        display: flex;
        gap: 3.2rem;
    }

    nav .menu ul li a.title {
        font: 400 1.6rem var(--body-font);
        -webkit-font-smoothing: antialiased;

    }

    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
        display: none;
    }
    
    main {
        margin-top: var(--header-height);
    }

    #home .container {
        grid-auto-flow: column;
        margin: 0 auto; 
    }

    #home .image {
        order: 1;
    }
    
    #home .image::before {
        right: -2.7%;
    }
    
    #home .text {
        order: 0;
        max-width: 43rem;
        text-align: left;
    }
    
    #highlights .container {
        grid-auto-flow: column;
        margin: 0 auto;
        align-items: center;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #highlights .image::before {
        left: -10%;
    }
    
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .text {
        max-width: 32rem;
    }

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    footer.section {
        padding: 6rem 0;
    }

    footer .logo {
        font-size: 3rem;
    }

    /* Team */

    #team .cards.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 992px) {
    html{
        --title-font-size: 3.6rem;
        --subtitle-font-size: 1.8rem;
    }

}