@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

html {
    font-size: 62.5%;

    --header-height: 7.2rem;
 
    --base-color: #00217E;
    --base-color-dart: #000D32;
    --base-color-second: #00A4DC;
    --gradient-secondary: linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%);
    --base-color-alt: var(--base-color-second);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --title-color: var(--base-color-second);
    --text-color: #32394C;
    --text-color-light: #CED1D5;
    --body-color: whitesmoke;
   

    --title-font-size: 3rem;
    --subtitle-font-size: 1.6rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Fredoka One', sans-serif;

    scroll-behavior: smooth;
}

span {
    color: var(--base-color);
}

body {
    font: 400 1.6rem var(--body-font);
    color: var(--text-color);
    background-color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    background-image: url(compress-img/Postion\ Absolute\ -\ bg-01\ headerbg1-min.png);
    background-repeat: no-repeat;
    background-position: top left;
    overflow-x: hidden;
    background-size: 85%;
}
.logo{
    width: 10%;
}

.section{
    width: 84%;
    text-align: center;
    margin: 0 auto;
  
}

.title {
    font-weight: 700;
    color: var(--base-color);
    -webkit-font-smoothing: auto;
    padding-top: 10px;
}

.button {
    display: flex;
    align-items: center;
    padding: 16px 48px;
    background-color: #fff;
    color: #32394C;
    display: inline-flex;
    border-radius: .4rem;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s;
    font-family: Fredoka;
}

.button-header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    padding: 10px;
    background: var(--gradient-secondary, linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%));
    display: inline-flex;
    border-radius: .4rem;
    font-size: 20px;
    font-weight: 400;
    transition: background 0.3s;
    font-family: Montserrat;
}

.button-header a{
    color: #32394C;
}

.button:hover {
    background-color: var(--base-color-alt);
    color: #fff;
}

.button a{
    color: var(--body-color);
}

.divider-2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 auto;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: flex;
    gap: 3.2rem;
}

#header {
   /* border-bottom: .1rem solid #E4E4E4; */
    margin-bottom: 2rem;
    display: flex;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 40px;
    justify-content: space-between;
    width: 100%;
}

#header.scroll{
    box-shadow: .2rem .2rem 2rem rgba(0, 0, 0, 0.15);
}

#nav-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav { 
    width: 84%;
    height:  var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container{
    display: flex;
    padding: 40px 0px;
    justify-content: space-between;
    align-items:center;
}


nav ul li {
    text-align: center;
    justify-content: center;
}

nav ul li a {
    transition: color .3s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color);

}

nav ul li a::after {
    content: "";
    width: 0%;
    height: .2rem;
    background-color: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1.4rem;
    transition: width .3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
    
}



/*nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -32rem;
    transition: .5s;
}*/

.menu{
    background-color: var(--color-white);
    padding: 14px;
    border-radius: 8px 0 0 8px;
    width: 70%;
}

nav.show ul.grid {
    gap: 6.4rem;
}

.btn{
    padding: 20px;
    color: #32394c;
    border-radius: 8px;
    background: var(--gradient-secondary);
}

nav.show .menu {
    opacity: 1;
    visibility: visible;

    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show .menu ul{
    display: grid;
}

.toggle {
    color: var(--base-color);
    font-size: 2.4rem;
    cursor: pointer;
}

#home {
    /*overflow: hidden;*/
    display: flex;
    padding: 0px 0px 80px 0px;
    align-items: center;
    justify-content: center;
}

#home .container {
    margin: 0;
}

#home-image{
    width: 50%;
}

#home .text {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

#home .text h1 {
    margin-bottom: 1.6rem;
}

#title-home{
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    font-size: 39px;
}

#home .text p {
    max-width: 100%;
    font-size: 20px;
}

.banner-home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    width: 300px;
    margin-right: 30px;
    direction: rtl;
}

.banner-mobile{
    display: none;
}

/*MENU Hamburguer*/

/* Style the navigation menu */
.topnav {
    position: fixed;
    z-index: 999;
    overflow: hidden;
    background: var(--gradient-secondary, linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%));
    width: 100%;
    display: none;
    text-align: center;
    align-items: center;
    margin: 0 auto;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    margin: 0 auto;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .topnav img{
    align-items: center;
    text-align: center;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    align-items: center;
    right: 0;
    font-size: 30px;
    padding-right: 18px;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
  }

.logo-mobile{
    width: 100%;
}


#benefits{
    display: flex;
    width: 84%;
    padding: 30px 0px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.benefits-credito img{
    width: 54px;
    padding-bottom: 20px;
}

.benefits-credito{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.benefits-credito p{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 130%;
    text-align: right;
}

.benefits-credito h2{
    font-family: Fredoka;
    font-size: 39px;
    font-weight: 700;
    padding-bottom: 20px;
}

#direita{
    text-align: right;
    font-size: 20px;
    line-height: 130%;
    padding-left: 10px;
}

#benefits .benefits{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.benefits h2{
    font-family: Fredoka;
    font-size: 39px;
    font-weight: 700;
    text-align: left;
}

.benefits p{
    font-size: 20px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 130%;
    text-align: left;
    padding-right: 4px;
}

#benefits .imagem{
    flex-shrink: 0;
    border-radius: 18px;
}

#benefits .benefits img{
    width: 57px;
}

#illustration{
    width: 100%;
    text-align: center;
}

.img-banner{
    width: 100%;
}
.img-banner2{
    width: 100%;
}

.img-banner-mobile{
    display: none;
}

.img-descontos{
    width: 100%;
}

#section-video h2{
    text-align: center;
}

.size-title{
    text-align: center;
    font-family: Fredoka;
    font-size: 39px;
}

#section-video {
    text-align: center;
}

.img-video{
    height: 400px;
    overflow: hidden;
    padding-top: 10px;
}

/* Vídeo */
.video{
    display: flex;
    width: 84%;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
}

/* Parceiros */
/* Swiper */

swiper-container {
    width: 100%;
    padding-top: 50px;
}

swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

swiper-slide img {
    display: block;
    width: 100%;
}

.swiper{
    display: none;
    touch-action: pan-y;
}

#partners{
    width: 100%;
}

.img-novidades{
    width: 90%;
}


/* Services */
#services{
    padding: 0px 0px 30px 0px;
}

#services .card1 {
    width: 300px;
    height: 300px;
    display: flex;
    padding: 0 12px 0 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border: 2px solid #8BBEE4;
    background: linear-gradient(0deg, rgba(196, 196, 196, 0.00) 0%, rgba(196, 196, 196, 0.00) 100%), radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(191, 247, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    margin: 15px;
    text-align: center;
}

.img-card-services{
    width: 50px;
}



#services .card1 .title {
    font-size: 20px;
    margin-bottom: 1.2rem;
}


#services .card1 p{
    font-size: 12px;
    text-align: center;
    font-family: Montserrat;
    color: #00217E;
    font-weight: 400;
    line-height: 24px;
}
.cards1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards{
    text-align: center;
    margin: 0 auto;
    width: 84%;
}

#team .cards.grid {
    display: flex;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



#team .card {
    text-align: center;
    position: relative;
    overflow: hidden;
}

#team .card .img-member {
    display: flex;
    width: 60%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#team .card .text .title {
    color: var(--text-color);
    text-align: center;

    /* Headers / H4 */
    font-family: Fredoka;
    font-size: 1.3em;
    font-style: normal;
    font-weight: 700;
}
#team p{
    color: var(--text-color);
    text-align: center;
    font-family: Montserrat;
    font-size: 0.9em;
    font-weight: 400;
    padding-top: 10px;
}

#rede-social-team{
    display: flex;
    justify-content: center;
    align-items: center;

}

.icone-social{
    font-size: 1.7em;
    padding: 5px;
    color: #32394C;
}

.icone-social:hover{
    color: #32394cc3;
}


/* Contact */
#contact .grid {
    height: 330px;
    background-image: url(compress-img/banner1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.img-aviao{
    width: 10%;
}

.airplane-banner{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;  
}

.button-airplane{
    padding: 14px;
    background-color: #32394C;
    color: whitesmoke;
    font-family: Fredoka;
    border-radius: 8px;
}

.button-airplane:hover{
    background-color: var(--base-color);
}

#contact .text p {
    color: var(--text-color);
}

.text-airplane{
    width: 600px;
    padding-left: 18px;
    align-items: center;
    text-align: left;
}
.text-airplane p{
    padding-top: 20px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
}

#contact .text-airplane h2{
    color: var(--text-color);
    font-weight: 700;
    font-family: Fredoka;
    font-size: 40px;
    padding-bottom: 20px;
}

.airplace{
    width: 234px;
    height: 276.217px;
    flex-shrink: 0;
}

.airplace img{
    width: 218.234px;
    height: 267.488px;
    flex-shrink: 0;
}

/* FAQ */

.faq{
    width: 100%;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    background-image: url(compress-img/logo-logo.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}

.down-ico{
    width: 20px;
}

.accordion {
    width: 100%;
    margin: 0 auto;
}
  
.accordion-title {
    color: #32394C;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.accordion-title h3{
    font-family: Fredoka;
    text-align: left;
}

.section-section1 p{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.show{
    display: block;
}

.hide{
    display: none;
}
.accordion-content {
    display: none;
    padding: 10px;
}
/* Footer */

/* Estilo para o rodapé (footer) */
footer {
    background-color:var(--base-color);
    color: var(--color-white);
    text-align: center;
  }

  .icone-footer{
    color: var(--color-white);
    font-size: 24px;
  }

  .footer-elements{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    box-sizing: content-box;
  }

  .credits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .barra-footer{
    background-color: #fff;
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }

  .newsletter h3{
    font-size: 20px;
  }

  .newsletter-box{
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .newsletter p{
    font-size: 14px;
    text-align: justify;
    color: rgba(255, 255, 255, 0.60);
    font-weight: 400;
    line-height: 24px; 
    padding: 10px 0 10px 0;
  }

  .box-form{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav-footer{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .nav-footer-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Estilo para a seção de newsletter */
  .newsletter {
    margin-bottom: 20px;
  }

  /* Estilo para o menu de rodapé */
  .footer-menu {
    list-style: none;
    padding: 0;
    justify-content: center;
    text-align: justify;
  }

  .footer-menu li {
    padding-bottom: 8px;
    margin: 0;
    font-size: 14px;
  }

  .footer-menu li a{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 100;
  }

  /* Estilo para o campo de inscrição na newsletter */
  .newsletter-input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    color: #fff;
    text-align: left;
  }

  .newsletter-input::placeholder{
    color: whitesmoke;
    font-weight: 100;
  }

  .newsletter-button {
    background-color: whitesmoke;
    color: var(--base-color);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 140px;
    cursor: pointer;
    margin-left: 27px;
  }

  .newsletter-button:hover {
    background-color: var(--base-color-second);
    color: whitesmoke;
}

footer.section {
    padding: 6.4rem 0;
}

#icone{
    justify-content: space-between;
    display: inline-flex;
}

#icone a{
    padding-left: 17px;
}

/* Back to Top 

.back-to-top {
    background-color: var(--base-color-dart);
    color: #fff;
    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;
    padding: .8rem;
    clip-path: circle();
    line-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

*/


/* Responsivo */
@media (max-width: 1920px){
    #team .card{
        padding-bottom: 30px;
    }

    #benefits{
        padding: 70px 0px;
    }
}


/*SCREENS LAPTOPS*/

@media (max-width: 1200px) {
    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;
    }

    #header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-banner{
        width: 70%;
    }

    /*FOOTER*/
    .newsletter-button{
        width: 161px;
    
    }

    footer{
        height: 300px;
    }

    #icone{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-menu{
        padding-top: 10px;
    }

    .credits{
       text-align: center;
       width: 90%;
    }

    .size-title{
        font-size: 2em;
    }

    #team .card{
        padding-bottom: 30px;
    }
}

@media (max-width: 1040px){
    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;
    }

    .banner-mobile{
        display: none;
    }

    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;
    }

    #header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-banner{
        width: 70%;
    }

    /*FOOTER*/
    .newsletter-button{
        width: 161px;
    
    }

    footer{
        height: 300px;
    }

    #icone{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-menu{
        padding-top: 10px;
    }

    .credits{
       text-align: center;
       width: 90%;
    }

    .size-title{
        font-size: 2em;
    }
    
    .banner-mobile{
        display: none !important;
    }
}

@media screen and (max-width: 960px) {
    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;
    }

    #header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .img-banner{
        width: 70%;
    }

    /*FOOTER*/
    .newsletter-button{
        width: 161px;
    
    }

    footer{
        height: 300px;
    }

    #icone{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer-menu{
        padding-top: 10px;
    }

    .credits{
       text-align: center;
       width: 90%;
    }

    .size-title{
        font-size: 2em;
    }
    
    .banner-mobile{
        display: none !important;
    }
}
@media(max-width: 769px){
    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;
    }

    #header{
        display: flex;
    }

    
    #nav-menu{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu{
        background-color: var(--color-white);
        padding: 10px;
        border-radius: 8px 0 0 8px;
        width: 86%;
    }

    .button-header{
       display: none !important;
    }

    .banner-home{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .banner{
        width: 50%;
        margin-top: 30px;
    }

    .banner-mobile{
        display: none !important;
    }

    #home .text{
        width: 50%;
        padding-top: 80px;
        align-items: left;
        text-align: left;
        justify-content: left;
        z-index: 990;
    }
    .img-descontos{
        width: 90%;
        padding-top: 30px;
    }

    .order-img{
        order: 1;
    }

    #home-image{
        display: none !important;
    }

    #benefits{
        flex-direction: column;
        width: 100%;
    }

    #contact .grid{
        height: 400px;
        background-size: 100%;
        background-size: cover;
    }

    .airplace{
        display: none !important;
    }

    .text-airplane{
        flex-direction: row;
        width: 100%;
        align-items: center;
        z-index: 998;
    }

    .accordion-title h3{
        font-size: 1em;
    }

    .size-title {
        font-size: 2em;
    }

    .geral h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

    footer{
        width: 100%;
    }

    .benefits h2 {
        font-size: 2em;
    }

    .benefits-credito{
        align-items: flex-start;
    }

    .texto-novidades p{
        width: 100%;
        font-size: 1em;
    }

    .newsletter{
        width: 100%;
    }

    .nav-footer{
        display: none !important;
    }

    .img-novidades{
        width: 100%;
        padding-top: 20px;
    }

    .img-banner{
        display: flex;
        width: 100%;
        margin: 0 auto;
    }

    .img-banner-mobile{
        display: none !important;
    }

    .img-video{
        height: 280px;
    }

    .img-banner2{
        width: 70%;
    }

    #direita{
        text-align: left;
    }

    .benefits-credito h2{
        font-size: 2em;
    }
    body{
        overflow-x: none !important;
    }

    #services .card1{
        width: 190px;
        height: 190px;
    }

    .img-card-services{
        width: 30px;
    }

    #services .card1 .title {
        font-size: 0.7em;
    }

    #services .card1 p{
        font-size: 0.5em;
        line-height: 15px;
    }

    .barra-footer{
        width: 100%;
    }

    .divider-2{
        width: 84%;
    }

    .credits {
        width:100%;
        flex-direction: column;
    }

    .copyright{
        order: 1;
        padding-top: 8px;
    }
}


/*SCREENS TABLET*/
@media(max-width: 768px) {
    .section {
        width: 84% !important;
        margin: 0 auto !important;
        text-align: center !important;
    }

    #header{
        display: none !important;
    }

    .topnav img{
        width: 18%;
        padding-left: 22px;
    }

    #title-home{
        font-size: 32px;
    }

    .cards1{
        width: 70%;
    }
    
    #nav-menu{
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu{
        background-color: var(--color-white);
        padding: 10px;
        border-radius: 8px 0 0 8px;
        width: 86%;
    }

    .banner-home{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .banner{
        width: 50%;
        margin-top: 30px;
    }

    .banner-mobile{
        display: none !important;
    }

    #home .text{
        width: 50%;
        padding-top: 80px;
        align-items: left;
        text-align: left;
        justify-content: left;
        z-index: 990;
    }

    .topnav{
        display: flex !important;
    }
    
    .img-descontos{
        width: 90%;
        padding-top: 30px;
    }

    .order-img{
        order: 1;
    }

    #home-image{
        display: none !important;
    }

    #benefits{
        flex-direction: column;
    }

    #contact .grid{
        height: 400px;
        background-size: 100%;
        background-size: cover;
    }

    .airplace{
        display: none !important;
    }

    .text-airplane{
        flex-direction: row;
        width: 100%;
        align-items: center;
        z-index: 998;
    }

    .accordion-title h3{
        font-size: 1em;
    }

    .size-title {
        font-size: 2em;
    }

    .geral h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

    footer{
        width: 100%;
    }

    .benefits h2 {
        font-size: 2em;
    }

    .benefits-credito{
        align-items: flex-start;
    }

    .texto-novidades p{
        width: 100%;
        font-size: 1em;
    }

    .newsletter{
        width: 100%;
    }

    .nav-footer{
        display: none !important;
    }

    .img-novidades{
        width: 100%;
        padding-top: 20px;
    }

    .img-banner{
        width: 80%;
    }

    #illustration{
        width: 100%;
        text-align: center;
    }
    

    .img-banner-mobile{
        display: none !important;
    }

    .img-video{
        height: 280px;
    }

    .img-banner2{
        width: 70%;
    }

    #direita{
        text-align: right;
    }

    .benefits-credito h2{
        font-size: 2em;
    }
    body{
        background: none;
        overflow-x: none !important;
    }

    #services .card1{
        width: 240px;
        height: 240px;
    }

    .img-card-services{
        width: 40px;
    }

    #services .card1 .title {
        font-size: 1.2em;
    }

    #services .card1 p{
        font-size: 0.6em;
        line-height: 15px;
        text-align: justify;
    }

    .barra-footer{
        width: 100%;
    }

    .divider-2{
        width: 84%;
    }

    .credits {
        width:100%;
        flex-direction: column;
    }

    .copyright{
        order: 1;
        padding-top: 8px;
    }

    .newsletter-box{
        width: 500px;
      }

    .card{
        width: 100%;
    }

  }

  

/*SCREENS MOBILE*/
@media(max-width: 480px) {
    .section {
      width: 84% !important;
      margin: 0 auto !important;
      text-align: center !important;
    }

    #mobile{
        width: 300px;
    }

    .mySwiperBanner{
        padding-top: 123px;
    }
    

    .cards1{
        flex-direction: column;
        align-items: center;
    }

    #home .text{
        padding-top: 80px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .banner{
        display: none !important;
    }
    .banner-mobile{ 
        display: flex !important;
    }

    .iconeBega{
        font-size: 30px;
    }

    .button{
        padding: 8px 48px;
        background-color: var(--base-color);
        color: var(--color-white);
    }

    .img-descontos{
        width: 90%;
        padding-top: 30px;
    }

    .order-img{
        order: 1;
    }

    #home-image{
        display: none !important;
    }

    #benefits{
        flex-direction: column;
    }

    .benefits-credito p{
        text-align: left;
    }

    .cards{
       flex-direction: column;
    }

    #contact .grid{
        height: 400px;
        background-size: 100%;
        background-size: cover;
    }

    .airplace{
        display: none !important;
    }

    .text-airplane{
        flex-direction: row;
        width: 100%;
        align-items: center;
        z-index: 998;
    }

    .accordion-title h3{
        font-size: 1em;
    }

    .down-ico{
        width: 12px;
    }

    .size-title {
        font-size: 2em;
    }

    .geral h2{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer{
        width: 100%;
        height: 100%;
    }

    .benefits h2 {
        font-size: 2em;
    }

    .texto-novidades p{
        width: 100%;
        font-size: 1em;
    }

    .img-novidades{
        padding-top: 20px;
    }

    .img-banner{
        display: none !important;
    }

    .img-banner-mobile{
        display: flex;
        width: 70%;
        margin: 0 auto;
    }

    .img-video{
        height: 280px;
    }

    .img-banner2{
        width: 70%;
    }

    #direita{
        text-align: left;
    }

    .benefits-credito h2{
        font-size: 2em;
        text-align: left;
    }
    body{
        overflow-x: none !important;
        background: none !important;
    }

    #services .card1{
        width: 240px;
        height: 240px;
    }

    .img-card-services{
        width: 60px;
    }

    #services .card1 .title {
        font-size: 0.9em;
    }

    #services .card1 p{
        font-size: 0.7em;
        line-height: 15px;
        text-align: justify;
    }

    .footer-elements{
        flex-direction: column;
    }

    .newsletter{
        width: 100%;
    }


    .nav-footer{
        display: none !important;
    }

    .barra-footer{
        width: 100%;
    }

    .divider-2{
        width: 100%;
    }

    .credits {
        width:100%;
        flex-direction: column;
    }

    .copyright{
        order: 1;
        padding-top: 8px;
    }

    #header{
        display: none !important;
    }

    .topnav{
        display: flex !important;
    }
}
  



@media(max-width: 320px) {
    .section {
        width: 84% !important;
        box-sizing: border-box !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        margin: 0 auto !important;

    }

    .mySwiperBanner{
        padding-top: 123px;
    }
    

    #mobile{
        width: 300px;
    }

    .button{
        padding: 8px 48px;
        background-color: var(--base-color);
        color: var(--color-white);
    }

    .cards1{
        flex-direction: column;
        align-items: center;
    }
    .banner{
        display: none !important;
        width: 100%;
    }

    .banner-mobile{
        display: flex !important;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .mySwiper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #home .text{
        align-items: center;
        justify-content: center;
    }

    #title-home{
        font-size: 1.3em;
    }

    #title-p{
        font-size: 0.4em;
    }

    .order-img{
        order: 1;
    }

    #home-image{
        display: none !important;
    }

    #benefits{
        flex-direction: column;
        width: 100%;
    }

    .benefits h2{
        font-size: 1.2em;
    }

    .benefits p{
        font-size: 1em;
    }

    .cards{
       flex-direction: column;
    }

    #contact .grid{
        height: 400px;
        background-size: 100%;
        background-size: cover;
    }

    .airplace{
        display: none !important;
    }

    .text-airplane{
        flex-direction: row;
        width: 99%;
        align-items: center;
        z-index: 998;
    }

    .text-airplane h2{
        font-size: 1em;
    }

    .accordion-title h3{
        font-size: 1em;
    }

    .down-ico{
        display: none !important;
    }

    .size-title {
        font-size: 2em;
    }

    .geral h2{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
    }

    footer{
        height: 100%;
        width: 100%;
    }

    .texto-novidades h2{
        width: 100%;
        font-size: 1em;
    }

    .texto-novidades p{
        width: 100%;
        font-size: 1em;
    }
    .img-novidades{
        padding-top: 20px;
        width: 80%;
    }

    .img-banner{
        display: none !important;
    }

    .img-banner-mobile{
        display: flex;
        width: 80%;
        margin: 0 auto;
    }

    .img-video{
        height: 280px;
    }

    .img-banner2{
        width: 70%;
    }

    #direita{
        text-align: left;
    }

    body{
        overflow-x: none !important;
        background: none !important;
    }

    #services .card1{
        width: 180px;
        height: 180px;
    }

    .img-card-services{
        width: 30px;
    }

    #services .card1 .title {
        font-size: 0.7em;
    }

    #services .card1 p{
        font-size: 0.5em;
        line-height: 15px;
        text-align: justify;
    }

    .footer{
        width: 100%;
    }

    .footer-elements{
        flex-direction: column;
    }

    .newsletter{
        width: 80%;
    }

    .box-form{
        flex-direction: column;
    }
    
    .newsletter-button {
       margin: 0 auto;
       width: 100%;
    }

    .newsletter-input{
        margin-bottom: 10px;
    }
    
    .nav-footer{
        display: none !important;
    }

    .barra-footer{
        width: 100%;
    }

    .divider-2{
        width: 84%;
    }

    #contactos{
        width: 100%;
    }

    .credits {
        width:100%;
        flex-direction: column;
    }

    .copyright{
        order: 1;
        padding-top: 8px;
    }

    #header{
        display: none !important;
    }

    .topnav{
        display: flex !important;
    }
  }

  /*Menu Hamburguer*/
  
  @media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  

  /*@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon{
      float: right;
      display: block;
    }
}

@media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: center;
  }
}*/