* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

html {
    font-size: 62.5%;

    --header-height: 7.2rem;
 
    --base-color: #00217E;
    --base-color-dart: #000D32;
    --base-color-second: #00A4DC;
    --base-color-alt: var(--base-color-second);
    --color-white: #FFFFFF;
    --title-color: var(--base-color-second);
    --text-color: #32394C;
    --text-color-light: #CED1D5;
    --body-color:var(--color-white);
   

    --title-font-size: 3rem;
    --subtitle-font-size: 1.6rem;

    --title-font: 'Poppins', sans-serif;
    --body-font: 'Fredoka One', sans-serif;

    scroll-behavior: smooth;
}

span {
    color: var(--base-color);
}

body {
    font: 400 1.6rem var(--body-font);
    color: var(--text-color);
    background-color: var(--body-color);
    -webkit-font-smoothing: antialiased;
    background-image: url(compress-img/Postion\ Absolute\ -\ bg-01\ headerbg1-min.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.title {
    font-weight: 700;
    color: var(--base-color);
    -webkit-font-smoothing: auto;
}

.button {
    display: flex;
    align-items: center;
    padding: 1.4rem 3.2rem 1.5rem;
    background-color: var(--base-color);
    color: var(--text-color-light);
    display: inline-flex;
    border-radius: .4rem;
    font: 500 1.6rem var(--body-font);
    transition: background 0.3s;
}

.button:hover {
    background-color: var(--base-color-alt);
}

.divider-1 {
    height: .1rem;
    background: linear-gradient(
        270deg, 
        hsla(var(--hue), 36%, 57%, 1) 0%,
        hsla(var(--hue), 65%, 88%, 0.34) 100%
    );
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 3.2rem;
}

#header {
   /* border-bottom: .1rem solid #E4E4E4; */
    margin-bottom: 2rem;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 80px;
}

#header.scroll{
    box-shadow: .2rem .2rem 2rem rgba(0, 0, 0, 0.15);
}

nav { 
    height:  var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}

nav .container{
    display: flex;
    width: 1140px;
    padding: 40px 0px;
    justify-content: center;
    align-items: flex-start;
}


nav ul li {
    text-align: center;
}

nav ul li a {
    transition: color .3s;
    position: relative;
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--base-color);

}

nav ul li a::after {
    content: "";
    width: 0%;
    height: .2rem;
    background-color: var(--base-color);

    position: absolute;
    left: 0;
    bottom: -1.4rem;
    transition: width .3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
    
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -32rem;
    transition: .5s;
}

.menu{
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 8px;
}

nav .menu ul {
    display: none;
}

nav.show ul.grid {
    gap: 6.4rem;
}

.btn{
    padding: 20px;
    color: #32394c;
    border-radius: 8px;
    background: var(--gradient-secondary, linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%));
}

nav.show .menu {
    opacity: 1;
    visibility: visible;

    background-color: var(--body-color);
    height: 100vh;
    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
}

nav.show .menu ul{
    display: grid;
}

.toggle {
    color: var(--base-color);
    font-size: 2.4rem;
    cursor: pointer;
}

nav .icon-close {
    visibility: hidden;
    opacity: 0;
    top: -2.4rem;
    position: absolute;
    right: 1.4rem;
    transition: .2s;
}

nav.show .icon-close {
    visibility: visible;
    opacity: 1;
    top: 2.4rem;
}

#home {
    /*overflow: hidden;*/
    display: flex;
    padding: 40px 0px 80px 0px;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

#home .container {
    margin: 0;
}

#home .image {
    display: inline-flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 48px;
}

#home .image::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.8%;
    right: -16.7%;
    z-index: -1;
}

#home .image img {
    position: relative;
    right: 4.7rem;
}

#home .image img, 
#home .image::before {
    border-radius: .4rem;
}

#home .text {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
}

#home .text h1 {
    margin-bottom: 1.6rem;
}

#home .text p {
    margin-bottom: 3.2rem;
    max-width: 100%;
}

#benefits{
    display: flex;
    width: 1140px;
    padding: 80px 0px;
    justify-content: flex-end;
    align-items: center;
}

#benefits .benefits{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

#benefits .imagem{
    width: 584px;
    height: 282px;
    flex-shrink: 0;
    border-radius: 18px;
    background: linear-gradient(0deg, rgba(167, 232, 255, 0.10) 0%, rgba(167, 232, 255, 0.10) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
}

#benefits .benefits img{
    width: 57px;
    height: 6px;
}

#illustration{
    width: 90%;
    flex-shrink: 0;
}

/* Vídeo */
.video{
    display: flex;
    width: 1140px;
    padding: 80px 0px;
    justify-content: center;
    align-items: center;
}

/* Parceiros */
/* Swiper */

.swiper-slide {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}

.swiper-pagination-bullet-active {
    background-color: var(--base-color);
}


.divider-2 {
    height: .1rem;
    background: linear-gradient(270deg, 
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
    );
}

/* Services */

#services .cards.grid {
   /*  gap: 2.4rem;*/
    display: flex;
    width: 1144px;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}

#services .card {
    width: 306px;
    height: 288px;
    padding: 5.8rem 3.8rem;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
    border: 2px solid #8BBEE4;
    background: linear-gradient(0deg, rgba(196, 196, 196, 0.00) 0%, rgba(196, 196, 196, 0.00) 100%), radial-gradient(151.92% 127.02% at 15.32% 21.04%, rgba(191, 247, 255, 0.20) 0%, rgba(110, 191, 244, 0.04) 77.08%, rgba(70, 144, 212, 0.00) 100%);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(40px);
    border-radius: 30px;
    text-align: center;
}

.img-card-services{
    width: 90px;
}

#services .card i {
    display: block;
    margin-bottom: 2.4rem;
    font-size: 8rem;
    color: var(--base-color);
}

#services .card .title {
    font-size: 16px;
    margin-bottom: 1.2rem;
}

#team .cards.grid {
    display: flex;
    width: 1140px;
    padding: 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#team .card {
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.08);
    border-bottom: .4rem solid var(--base-color);
}

#team .card img {
    display: flex;
    width: 250px;
    height: 250px;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}

#team .card .text .title {
    color: #32394C;
    text-align: center;

    /* Headers / H4 */
    font-family: Fredoka One;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 40.3px */
}
#team p{
    color: #32394C;
    text-align: center;

    /* Text/Lead */
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

/*.social{
    display: flex;
    padding: 8px 0px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch; 
}
.social img{
    width: 24px;
    height: 24px;
}*/


/* Contact */

#contact{
    width: 100%;
    background-image: url(compress-img/Positivon\ Absolute\ -\ Airplane.png);
}

#contact .grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background: var(--gradient-default, linear-gradient(90deg, #2C7AED 0%, #4BC3CC 100%))
}

#contact .text p {
    color: var(--Gray, #32394C);

    /* Text / Lead */
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}

#contact .text h2{
color: var(--Gray, #32394C);

/* Headers / H3 */
font-family: Fredoka One;
font-size: 39px;
font-style: normal;
font-weight: 400;
line-height: 130%; /* 50.7px */

}

.airplace{
    width: 234px;
    height: 276.217px;
    flex-shrink: 0;
}

.airplace img{
    width: 218.234px;
    height: 267.488px;
    flex-shrink: 0;
}

/* FAQ */
.faq{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
    background: var(--gradient-secondary, linear-gradient(180deg, #0092DC 0%, #D7F5FF 100%));
}
.question{
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
}
.question h3{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    color: var(--primary-dark, #000D32);

    /* Headers / H6 */
    font-family: Fredoka One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 26px */
}
.question p{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;

    color: var(--primary-dark, #000D32);

    /* Text/Body */
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
}
/* Footer */

footer {
    background-color: var(--color-white);

}

footer.section {
    padding: 6.4rem 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 2.4rem;
}

footer .brand p {
    margin-bottom: 1.2rem;
    color: var(--text-color-light);
}

footer i {
    font-size: 2.4rem;
    color: var(--text-color-light);

}

footer .social{
    display: flex;
    gap: 3.2rem;
}

footer .social a {
    transition: .3s;   
}

footer .social a:hover {
    transform: translateY(-15px);
}

/* Back to Top */

.back-to-top {
    background-color: var(--base-color);
    color: #fff;

    position: fixed;
    right: 1.6rem;
    bottom: 1.6rem;

    padding: .8rem;
    clip-path: circle();
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: .3s;
    transform: translateY(100%);
}

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* Responsivo */

@media (min-width: 1200px) {
    .container {
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 16rem 0;
    }
    
    .section header {
        max-width: 52.3rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .button {
        height: 5rem;
    }

    nav .menu {
        opacity: 1;
        visibility: visible;
        top: 0;

    }

    nav .menu ul {
        display: flex;
        gap: 3.2rem;
    }

    nav .menu ul li a.title {
        font: 400 1.6rem var(--body-font);
        -webkit-font-smoothing: antialiased;

    }

    nav .menu ul li a.title.active {
        font-weight: bold;
        -webkit-font-smoothing: auto;
    }

    nav .icon-menu {
        display: none;
    }
    
    main {
        margin-top: var(--header-height);
    }

    #home .container {
        grid-auto-flow: column;
        margin: 0 auto; 
    }

    #home .image {
        order: 1;
    }
    
    #home .image::before {
        right: -2.7%;
    }
    
    #home .text {
        order: 0;
        max-width: 43rem;
        text-align: left;
    }
    
    #highlights .container {
        grid-auto-flow: column;
        margin: 0 auto;
        align-items: center;
    }

    .cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #highlights .image::before {
        left: -10%;
    }
    
    #contact .container {
        grid-auto-flow: column;
        align-items: center;
    }

    #contact .text {
        max-width: 32rem;
    }

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    footer.section {
        padding: 6rem 0;
    }

    footer .logo {
        font-size: 3rem;
    }

    /* Team */

    #team .cards.grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media (min-width: 992px) {
    html{
        --title-font-size: 3.6rem;
        --subtitle-font-size: 1.8rem;
    }

}